element.style {
}
h2 {
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}